# Ignore node_modules folders
node_modules/
frontend/node_modules/
backend/node_modules/
frontend/frontend/node_modules/

# Ignore build artifacts
frontend/build/
backend/backend/build/

# Ignore logs
*.log
scripts/*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
scripts/npm_cleanup_and_install.bat
scripts/docker_prune.bat
scripts/npm_warnings.log

# Ignore all vhdx files (virtual disk images)
*.vhdx
Ubuntu/
docker-desktop/
